:root {
  --yellow: rgb(196, 133, 65);
  --red: rgb(173, 0, 0);
  --purple: rgb(113, 21, 90);
  --lightPurple: rgba(178, 88, 156, 0.5);
}

* {
  margin: 0;
  font-family: ubuntu, sans-serif;
}
/* *******************************Header****************** */
header {
  height: 4rem;
  background-color: var(--yellow);
  padding: 1rem;
  font-family: ubuntu, sans-serif;
  color: var(--purple);
}

header h1 {
  display: inline-block;
  font-size: 3rem;
  padding-left: 5rem;
}

header h2 {
  font-family: monospace;
  font-size: 1.8rem;
  display: inline;
  float: right;
  line-height: 4rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
}
header h3 {
  display: inline;
  line-height: 4rem;
  margin-left: 8rem;
  font-size: 1.5rem;
  line-height: 5rem;
}

#txtQuiz {
  color: var(--red);
}
.txtCode {
  color: var(--purple);
}
/* *******************************Header Nav****************** */
header nav {
  display: inline;
  float: right;
  padding-top: 1rem;
}

header nav ul {
  list-style-type: none;
}
header nav ul li {
  display: inline-block;
  margin-right: 1.5rem;
  font-size: 2rem;
}

header nav ul li a {
  color: white;
  transition: 0.3s;
}

header nav ul li a:hover {
  color: var(--purple);
  font-size: 2.5rem;
}

#email:hover::before {
  content: "MattPLawrence@gmail.com";
  font-size: 1rem;
  position: absolute;
  background-color: var(--purple);
  color: var(--darkestBlue);
  animation: 3s fadeIn;
  margin-left: -10em;
  margin-top: 2.6rem;
}
/* write a fade in animation for the tooltip */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**************************** Initial section ********/

#question {
  display: block;
  text-align: center;
  /* border: .1rem black solid; */
  margin-top: 5rem;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
section h1 {
  font-size: 2.5rem;
  color: var(--darkestBlue);
}

.bold {
  font-size: larger;
  color: var(--purple);
}

section h2 {
  margin-left: auto;
  margin-right: auto;
  width: 60vw;
  margin-top: 3rem;
  color: var(--purple);
}

#answer input {
  margin: 1rem auto;
  display: block;
  width: 30%;
  height: 1.5rem;
  border: 0.3rem var(--purple) solid;
}

#start {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20vw;
  height: 2rem;
  background-color: var(--purple);
  border-radius: 0.3rem;
  font-size: 1.5rem;
  color: white;
  transition: 0.5s;
}

#start:hover {
  background-color: var(--lightPurple);
  transform: scale(1.1);
}

/* ************answers buttons */

.btnAnswers {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50vw;
  height: auto;
  background-color: white;
  border-radius: 0.3rem;
  border: 0.3rem var(--purple) solid;
  font-size: 1.5rem;
  color: var(--darkestBlue);
  transition: 0.5s;
  text-align: left;
}

.btnAnswers:hover {
  background-color: var(--lightPurple);
  transform: scale(1.1);
}

#rightWrong {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 50vw;
  height: 2.5rem;
  background-color: white;
  font-size: 1.5rem;
  color: var(--darkestBlue);
  transition: 0.5s;
  text-align: center;
}

#scoreContainer {
  text-align: center;
  margin-top: 2rem;
}

#scoreTotal {
  display: inline-block;
  margin-right: 3rem;
  font-size: 1.5rem;
}
#scoreTotal::before {
  content: "Answers Correct: ";
}

#questionTotal {
  display: inline-block;
  font-size: 1.5rem;
}
#questionTotal::before {
  content: "Questions Answered: ";
}

.finalPage {
  display: inline-block;
  margin: 0 0.5rem;
  color: var(--darkestBlue);
}

.score {
  font-size: 2rem;
  color: var(--purple);
  margin-bottom: 1rem;
}

.label {
  font-size: 1.5rem;
}

#finalPercentage {
  margin-bottom: 5rem;
  font-size: 1.8rem;
}

.restartButton {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20vw;
  height: auto;
  background-color: white;
  border-radius: 0.3rem;
  border: 0.3rem var(--purple) solid;
  font-size: 1.5rem;
  color: var(--darkestBlue);
  transition: 0.5s;
  text-align: center;
}
.restartButton:hover {
  transform: scale(1.1);
  background-color: var(--lightPurple);
}
/**************************************************** screen adjust */
@media screen and (max-width: 800px) {
  header {
    padding: 0;
    height: 14vw;
  }
  header h1 {
    line-height: 14vw;
    font-size: 3vw;
    padding-left: 5vw;
  }
  header nav {
    padding-top: 0;
    line-height: 4vw;
  }
  header nav ul {
    color: white;
    list-style-type: circle;
  }
  header nav ul li {
    padding-top: 0.5vw;
    padding-right: 4vw;
    display: block;
    margin-right: 1vw;
    font-size: 2.8vw;
  }
  header nav ul li a:hover {
    color: var(--purple);
    font-size: 1rem;
  }
  #email:hover::before {
    margin-top: 1.3rem;
  }
}
